<% @page_title = "New admin_user" %>

<%= link_to("<< Back to List", admin_users_path, :class => 'back-link') %>

<div class="sections new">
  <h2>Create admin_user</h2>

  <%= form_for(@AdminUser) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create admin_user") %>
    </div>

  <% end %>
</div>
